h1{
	/*background-color: #8E9090;*/
	font-size:150%;
	color:#000033;

}

header{
	text-align: center;
	padding:15px;
}

header,footer{
	background: #DFE1E1;
	background:-moz-linear-gradient(#D9FDFD, #DFE1E1);
	background:-webkit-linear-gradient(#D9FDFD, #DFE1E1);
	background:-o-linear-gradient(#D9FDFD, #DFE1E1);
	background:linear-gradient(#D9FDFD, #DFE1E1);

}



body{
	margin:4%;
	
}

.half{
	width:46%;
	display: inline-block;
	margin:2%;
	float:left;
}
 .whole{
 	clear:both;
 }


nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size:150%;
}

nav a{
	width:21%;
	display:inline-block;
	background-color: #ffffff
}

h2{
	
	background-color: #D9FDFD;
}

details{
	font-style: italic;
}
summary{
	font-style: normal;
}

footer{
	
	clear:both;

}
img{
	width:120px;
}

